backend/ml/.venv
backend/node_modules
/home/prayas-sawwalakhe/Desktop/Programs/My Projects/Veriscan/Screenshot from 2026-08-10 12-58-30.png.venv/
/vite.config.js
/backend/data/demo_company_urls_10.csv
/frontend/node_modules